<br>
  <div class = "container">
  <!--password -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
    	<div class="login-form">
        <center><h3> Forgot Password? </h3></center>
          <%= form_for :lister do |f| %>
            <div class="form-group">
              <%= f.text_field :email, :class => "form-control email-field", :value => "", :placeholder => "Enter your email", :id => "login-email" %>
              <label class="login-field-icon fui-mail" for="login-name"></label>
            </div>
            <!--<a class="btn btn-success btn-lg btn-block" href="#">Reset your Password</a>-->
            <%= f.submit "Get New Password",:class=> "btn btn-success btn-lg btn-block", :disable_with => 'Emailing you new password...' %>
            <a class="login-link" href="login">Sign In</a>
            <a class="login-link" href="signup">Sign Up</a>
          <% end %>
    	</div>
    </div>
    <div class="col-md-3"></div>
  <!--ends-->
</div>
