
<% if session[:user]%>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class = "alert-danger"> <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% elsif session[:lister] %>
  <% if @lister.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@lister.errors.count, "error") %>.
      </div>
      <ul>
      <% @lister.errors.full_messages.each do |msg| %>
        <li class = "alert-danger"> <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end -%>
  