<div class="panel panel-primary">
	<div class="h5 panel-heading">Edit Your Listing</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer"><%= link_to 'Show', @list_space, :class => "btn btn-primary btn-sm"  %> 
<%= link_to 'Back', list_spaces_path, :class => "btn btn-primary btn-sm" %></div>
</div>
