
    <div class="jumbotron hidden-phone">

   <br/><br/>
    <center><%#= image_tag("logo.png", height: '110', width: '100', :class=>"img-responsive") %></center>
    <h1 class="tile-title" style="color:black" >Have business in mind?</h2>
    <h1 class="tile-title" style="color:#e74c3c">Open your storefront at best place possible...</h1><br>
    <!-- Search starts -->
    <div class="col-md-3"></div>
    <div class="col-lg-6">
      
      <form id="search_near_by" name = "search" action = "/gallery/search_nearby">
        <div class="input-group">
          <input type="text" name = "search" class="form-control" placeholder="Find the best spot, Search by City, State or Zipcode">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">SEARCH NOW</button>
          </span>
        </div><!-- /input-group -->
      </form><br/>
      <center> 
        <button class="btn btn-inverse btn-lg"><strong>LIST SPACE NOW</strong></button>
        <button class="btn btn-inverse btn-lg"><strong>BOOK SPACE NOW</strong></button>
      </center>
    </div><!-- /.col-lg-6 -->
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <!-- Search ends -->
    <br><br><br><br><br>
    
  </div>
  <hr><!--/have a business in mind-->

<div class="container">
  <center><h2 class="demo-section-title mbl pbl">FEATURED PLACES</h2></center>
  <%= render 'gallery_partial' %>          
</div>