<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td><%= line_item.month %> </td>
	<td><%= line_item.list_space.city%> | <%= line_item.list_space.state%></td>
	<td class="item_price"><%= line_item.total_price %></td>
</tr>